# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Model files (большие файлы)
*.pt
*.pth
*.onnx
*.weights

*.log

# Temporary files
*.tmp
*.temp
/tmp/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env
.env.local
./project_yolo/training_results/
extracted/
merged_dataset/

# PDF files (если большие)
*.pdf

# Large dataset ZIP files
*.zip
QR code.v1i.yolov8-obb.zip
IDP_stamp_signature_detection.v1i.yolov8-obb.zip

# Cache
*.cache
.cache/

